<html>

<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'chargen/style.css' %}">
    <script type="text/javascript" src="{% static 'chargen/chargen-1.0.js' %}" async></script>
</head>
<body>

<div class="title_container">
    <div class="title">Dungeons and Dragons 5th Edition Character Builder</div>
</div>

<div class="main_form">
<form method="POST">{% csrf_token %}
<table class="main_table">


    <tr> <!-- Name row -->
        <th class="main_table_label_box">
            <p class="main_table_label_text">Name: </p>
        </th>
        <td class="main_table_cell">
            {{ name_form.name }}
            <span class="prompt">
                Every character needs a name.
            </span>
        </td>
    </tr>


    <tr> <!-- Race row -->
        <th class="main_table_label_box">
            <p class="main_table_label_text">Race: </p>
        </th>
        <td class="main_table_cell">
            {{ class_race_form.race }}
            <span class="prompt">
                What is their species?
            </span>
            <br>
            <span class="explanation" id="race_explanation">Members of this race are...</span>
            <br>
            <span class="explanation" id="subrace_explanation"></span>
        </td>
    </tr>


    <tr> <!-- Class row -->
        <th class="main_table_label_box">
            <p class="main_table_label_text">Class: </p>
        </th>
        <td class="main_table_cell">
            {{ class_race_form.character_class }}
            <span class="prompt">
                What kind of adventurer are they?
            </span>
            <br>
            <span class="explanation" id="class_explanation">Members of this class are...</span>
        </td>
    </tr>


    <tr> <!-- Subclass row -->
        <th class="main_table_label_box">
            <p class="main_table_label_text">Subclass: </p>
        </th>
        <td class="main_table_cell">
            {{ subclass_form.subclass }}
            <span class="prompt">
                What is their specialization?
            </span>
        </td>
    </tr>


    <tr> <!-- Ability score row -->
        <th class="main_table_label_box">
            <p class="main_table_label_text">Attributes:</p>
        </th>
        <td class="main_table_cell">
            <span class="prompt">
                What are their strengths and weaknesses?
            </span>
            <table id="ability_score_table">
                <tr> <!-- Headers -->
                    <th>Score</th>
                    <th>Base</th>
                    <th>Race</th>
                    <th>Total</th>
                    <th>Modifier</th>
                </tr>

                {% for field in ab_score_form %}
                <tr>
                    <td class="ability_score_label">{{ field.label }}</td>
                    <td>{{ field }}</td>
                    <td id="race_mod_{{ field.name }}"> +0 </td>
                    <td class="ability_score_total" id="total_{{ field.name }}_score">8</td>
                    <td id="total_{{ field.name }}_mod">-1</td>
                </tr>
                {% endfor %}
            </table>
            <div>
                <span class="explanation">Most campaigns use 27 points.</span><br>
                <span class="explanation">You have spent </span>
                <span id="total_ability_score_box">0</span>
                <span class="explanation"> points.</span>
            </div>
        </td>
    </tr>

    <tr> <!-- Background row -->
        <th class="main_table_label_box">
            <p class="main_table_label_text">Background: </p>
        </th>
        <td class="main_table_cell">
            {{ background_form.background }}
            <span class="prompt">
                What were they before they started adventuring?
            </span>
            <!-- 
            This was created to give room for each background to have a descriptive line, the same way classes and races do.
            <br>
            <span class="explanation" id="background_explanation">People with this background are...</span> -->
        </td>
    </tr>

</table>

<input class="submitbutton" name="all_submit_button" type="submit"/>

</form>
</div>

<div class="subtitle">
    <div class="subtitle_by">By Rachel Thornton, David Ricardo, and Rachael Devlin</div>
    <div class="subtitle_for">For 6.177 IAP 2015</div>
</div>

</body>
</html>